@import url(https://fonts.googleapis.com/css?family=Lemon:regular);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: bisque;
    font-family: Roboto Mono;
}

h1{
    padding-top: 25px;
}

a{
    margin-top: 15px;
    text-decoration: none;
    color: bisque;
}
