*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
}

.p1{
    font-style: italic;
}

.p2{
    font-weight: bold;
}