@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corobka {
    padding: 30px 20%;

}

.topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav {
    width: 450px;
    color: var(--, #2F3035);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: space-between;

}


.logo {
    position: relative;
}

.lspeed {
    position: absolute;
    left: 13px;
    top: -30px;
}

.strspeed {
    position: absolute;
    left: 32px;
    top: -23px;
}

.rspeed {
    position: absolute;
    left: 50px;
    top: -16px;
}

.logo_txt {
    margin-right: 48px;
}

.logo_txt span {
    position: absolute;
    top: 60px;
    color: var(--, #2F3035);
    font-family: Staatliches;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.adres {
    color: var(--, #2F3035);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;

}

.adres img {
    position: relative;
    top: -5px;
}

.righttop img {
    margin-right: 10px;
}

.righttop {
    position: relative;
    left: -10px;
}

.circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1C62CD;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    top: 10px;
    right: -5px;
}

nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: #F0F0F4;
    height: 53px;
    margin-top: 50px;
}

.category {
    color: var(--, #2F3035);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category:hover {
    font-weight: 600;
    border-bottom: #1C62CD 3px solid;
}

.promotions {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.topsearch {
    display: flex;
}

.topsearch div {
    padding: 26px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    color: var(--, #2F3035);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
}

.topsearch div:hover {
    background-color: #F0F0F4;
    color: var(--, #2F3035);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bottomsearch form {
    height: 50px;
    display: flex;
    /* align-items: center; */
    position: relative;
    justify-content: space-between;
}

.inpsearch {
    background-color: #F0F0F4;
    display: flex;
    width: 100%;
}

.inpsearch input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}

form .submit {

    border-radius: 3px;
    background: #1C62CD;
    color: #FFF;
    border: none;
    flex: 0 0 145px;
}



.inpsearch input ::placeholder {
    color: #656464;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.card {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    padding: 20px;
    transition: 0.5s;
}

.card:hover {
    box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.25);
    border: none;
    scale: 1.05;
    transition: 0.5s;
}

.card:hover h2 {
    color: #1C62CD;
    transition: 0.5s;
}

.card h2 {
    color: var(--, #2F3035);
    font-family: 'Barlow', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cardleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.podr span {
    color: #C4C4C4;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.kategorii {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 362px);
    grid-template-rows: repeat(2, 129px);
    gap: 30px;
}

.kartinka {
    display: flex;
    align-items: center;
    justify-content: center;
}

#dvigatel {
    margin-right: 60px;
}

.populartovars {
    margin-top: 80px;
}

.toppop h2 {
    margin-bottom: 25px;
    color: var(--, #2F3035);
    font-family: 'Barlow', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.categpop {
    display: grid;
    width: 55%;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
}

.categ {
    color: var(--, #2F3035);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.categ:hover {
    border-bottom: #1C62CD 3px solid;
    font-weight: 500;

}

.sliderpop {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 264px);
    gap: 30px;
}

.cardpop {
    height: 403px;
    border-radius: 3px;
    border: 1px solid #CDCDCD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 23px;
    transition: 0.5s;
}

.osn {
    width: 200px;
    height: 200px;
}

.heart {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    top: 15px;

}

.cardpop h3 {
    color: var(--, #2F3035);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cardpop h2 {
    color: var(--, #2F3035);
    text-align: center;
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 23px;
}

.cartr {
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: #1C62CD;
    border-radius: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0px;
}

.sale {
    position: absolute;
    width: 60px;
    height: 25px;
    background-color: #1C62CD;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    color: white;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 0.84px;
    word-wrap: break-word
}

.cardpop h4 {
    color: #2F3035;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    margin: 7px 0 13px 0;
}

.cardpop a {
    color: #1C62CD;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.cardpop:hover h2,
.cardpop:hover h3 {
    color: #1C62CD;
}

.cardpop:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    scale: 1.05;
    transition: 0.5s;
}


.cardpop::after {
    transition: 0.3s;
    content: attr(data-title);
    position: absolute;
    bottom: 50%;
    width: 230px;
    height: 61px;
    border-radius: 3px;
    background: white;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.20);
    color: #2F3035;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-wrap: break-word;
    cursor: pointer;
}

.cardpop:hover::after {
    opacity: 0.90;

}

.populartovars button {
    display: block;
    margin: auto;
    margin-top: 35px;
    width: 252px;
    height: 50px;
    border: none;
    background-color: #F0F0F4;
    color: #2F3035;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.80px;
    word-wrap: break-word;
    cursor: pointer;
    transition: 0.5s;
}

.populartovars button:hover {
    box-shadow: 3px 3px 10px rgba(50, 50, 50, 0.25);
    scale: 1.05;
    transition: 0.5s;
}

.sales {
    margin-top: 86px;
    width: 100%;
    height: 165px;
    background-color: #1C62CD;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 70px;
}

.sales h2 {
    color: white;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 36px;
    word-wrap: break-word
}

.sales button {
    padding: 4px 41px;
    color: #2F3035;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 50px;
    word-wrap: break-word;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.sales button:hover {
    color: #1C62CD;
    transition: 0.3s;
}

footer {
    margin-top: 100px;
    background-color: #F0F0F4;
    width: 100%;
    height: 232px;
    position: absolute;
    padding: 42px 20%;
}

.topfooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rassilka {
    display: flex;
    flex-direction: column;
    margin-right: 160px;
}

.footersearch {
    position: relative;
}

.footersubmit {
    height: 33px;
    padding: 0 17px;
    background-color: #1C62CD;
    border: none;
    border-radius: 3px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.32px;
    word-wrap: break-word;
    position: absolute;
    top: 0px;
    left: 200px;
    cursor: pointer;
}

.footersear {
    background-color: white;
    height: 33px;
    width: 200px;
    display: flex;
    padding-left: 12px;
}

.footersear input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
}

.footersear input ::placeholder {
    color: #C4C4C4;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.rassilka h2 {

    color: #2F3035;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 34px;
}

.info {
    display: flex;
    flex-direction: column;
    color: #2F3035;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.info h3 {
    font-weight: 700;
    margin-bottom: 5px;
}

.info span {
    margin-bottom: 5px;
}

.e-shop {
    display: flex;
    flex-direction: column;
    color: #2F3035;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.e-shop h3 {
    font-weight: 700;
    margin-bottom: 5px;
}

.e-shop span {
    margin-bottom: 5px;
}

.social__media img {
    margin-right: 30px;
    cursor: pointer;
}

.bottomfooter {
    position: relative;
    display: flex;
    width: 381px;
    left: 85px;
    margin: auto;
    margin-top: 46px;
    justify-content: space-between;
    align-items: center;
}

.bottomfooter a {
    text-decoration: none;
    color: #48494D;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    word-wrap: break-word
}

.topheader .menu__btn {
    display: none;
}

form img {
    display: none;
    width: 15px;
    height: 15px;
}

@media(max-width: 420px) {
    .topnav {
        display: none;
    }

    .logo {
        display: none;
    }

    .adres {
        display: none;
    }

    .logo_txt span {
        position: unset;
    }

    .topheader .menu__btn {
        display: block;
    }

    .corobka {
        padding: 0;
    }

    nav {
        overflow-x: auto;
        gap: 10px;

    }

    .promotions {
        flex-direction: column;
        margin-top: 5vh;
        /* align-items: center; */
    }

    .promotions img:last-child {
        width: 80%;
        margin: 30px auto;

    }

    .topsearch {
        overflow-x: auto;

    }

    .topsearch div {
        flex: 1 0 230px;
    }

    main .sales {
        display: none;
    }



    .bottomsearch form {
        align-items: center;
    }

    form {
        background: #F0F0F4;
        padding: 5px 10px;
        margin: 15px;
    }

    form button {
        display: none;
    }

    form img {
        display: block;
    }

    .kategorii {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .populartovars .toppop h2 {
        text-align: center;
    }

    .populartovars .toppop .categpop {
        overflow-x: auto;
        width: 100%;
        height: 7vh;

    }

    .populartovars .sliderpop {
        display: flex;
        flex-direction: column;
        margin: 15px;
    }

    .cardpop {
        padding: 0;
    }

    footer .rassilka{ 
        display: flex;
        flex-direction: column;
    }

    footer .rassilka h2{
        display: flex;
        text-align: center;
        justify-content: center;
    }

    footer .footersearch input{
        border: none;
    }

    footer .info,
    footer .e-shop,
    footer .social__media,
    footer .bottomfooter{
        display: none;
    }
}












































































































    /* Стили для бургера */


    .topheader a {
        /* background-color: aliceblue; */
        display: block;
        width: 25px;
        height: 50px;
        border-radius: 50%;
        position: relative;
    }

    .topheader a span,
    .topheader a span::before,
    .topheader a span::after {
        position: absolute;
        background-color: black;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 2px;
        margin-top: -1px;
        margin-left: -10px;
        border-radius: 20px;
    }

    .topheader a span::before,
    .topheader a span::after {
        content: '';
        transition: .2s;
    }

    .topheader a span::before {
        transform: translateY(-5px);
    }

    .topheader a span::after {
        transform: translateY(5px);
    }

    .topheader .active span::before {
        transform: rotate(-45deg);
    }

    .topheader .active span::after {
        transform: rotate(45deg);

    }

    .topheader .active span {
        height: 0;
    }


    /* Конец стилей для бургера */