table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: blue;
    color: white;
    position: sticky;
    top: 0;
}

/* th:first-child, td:first-child {
    background-color: blue;
    color: white;
    position: sticky;
    left: 0;
} */

tr td:first-child{
    background-color: blue;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

tbody {
    display: block;
    overflow-y: auto;
    max-height: 300px; /* Вы можете установить желаемую высоту для прокрутки */
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
